.main{
    font-family: "Lato", sans-serif;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    background-color: bisque;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  h2{
      position:relative;
      top:0px;
      font-size: 150px;
      color: rgb(180, 38, 38);
      text-align: center;
      background-color: rgb(255, 255, 255);
      padding-top: 10px;
      padding-bottom: 10px;
  }
.container{
    padding-top:50px;
}
.bg-warning{
    font-size: 20px;
}
.bg-danger{
    font-size: 20px;
}
.bg-primary {
    font-size: 20px;
}
.bg-success{
    font-size: 20px;
}
.carousel-item {
  height: 10vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

svg{
  position: relative;
  left: 550px;
  font-size: 1.5rem;
}
#cart{
  position: relative;
  right: 30px;
}
.user{
  position: relative;
  right: 5px;
  
}
.gradient-custom {
  background: #6a11cb;
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }
  .navbar-brand-1{
    position: relative;
    left: 50px;
  }
.bg-primary{
  position: relative;
  left: 10px;
}
.float-end{
  position: relative;
  left: 50px;
}